<h2>Welcome <%= current_user.name %></h2>

<a href="#" onclick="getProjects(); return false;">Your Projects</a> |
<%= link_to "Create a New Project", new_project_path %><br><br>

<div id="main"></div>
